.boardContainer {
    width: 450px;
    margin-left: 600px;
}


.writerNDate {
    text-align: left;
    font-size: 18px;
}

.images {
    
}

.titleNContent{
    font-size: 24px;
}

.likeNReply {
    display: flex;
    justify-content: center;
    align-items: center;
}