.boardContainer {
    position: absolute;
    left: 40%;
    width: 25%;
    min-width: 400px;
}

.eachBoard {
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.pageNav {
    display: flex;
    justify-content: center;
    margin: 1.5vh;
}

.pageNav .page-link{
    font-size: 1vw;
}

.writerNDate {
    text-align: left;
    font-size: 1vw;
}


.titleNContent{
    margin: 10px;
    font-size: 1vw;
}

.likeNReply {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* height: 10vh; */
}

.likeNReply .col-2 {
    display: flex;
    justify-content: center;
}

.likeNReply .col {
    font-size: 1vw;
    text-align: center;
    align-items: center;
}

#like {
    width: 100%;
}

#reply {
    width: 100%;
}