.memoArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 30%;
}

.memoSection {
    text-align: center;
    border: 1px solid black;
    height: 100%;
    border-radius: 10px;
}

.memoList {
    font-size: 18px;
    height: 70%;
    overflow: auto;
}

.memoSubmit {
    padding: 0;
    margin-bottom: 10px;
    width: 100%;
}