.eachMemo {
    margin: 1vh;
}

.memoInput input {
    width: 150px;
}
.memoInput button {
    width: 80px;
    border: solid black;
    border-radius: 3px;
    margin: 5px;
    background-color: white;
}
